[user]
	name = {{ .git.username }}
	email = {{ .git.email }}
[core]
	excludesFile = ~/.gitignore
	editor = vim
[init]
	defaultBranch = main
[commit]
	template = ~/.gitmessage
[interactive]
	diffFilter = diff-so-fancy --patch
[color]
	ui = true

# Delta (git diff in Rust) config
[core]
    pager = delta

[interactive]
    diffFilter = delta --color-only

[delta]
    navigate = true    # use n and N to move between diff sections
    light = false      # set to true if you're in a terminal w/ a light background color (e.g. the default macOS terminal)
    line-numbers = true
    side-by-side = true
    features = dracula
    true-color = always
    hyperlinks = true
    hyperlinks-file-link-format = "vscode://file/{path}:{line}"

[merge]
    conflictstyle = diff3

[diff]
    colorMoved = default
