{{ if eq .chezmoi.osRelease.id "manjaro" -}}

{{ $pacman_packages := list
    "arandr"
    "bat"
    "diff-so-fancy"
    "discord"
    "exa"
    "fd"
    "feh"
    "flameshot"
    "gdu"
    "git-lfs"
    "i3-wm"
    "i3exit"
    "i3lock"
    "i3status-manjaro"
    "pkgconf"
    "polybar"
    "python"
    "python-pip"
    "ripgrep"
    "rofi"
    "tree"
    "vim"
    "xfce4-power-manager"
    "yay"
    "zsh" -}}

{{ $yay_packages := list
    "antigen-git"
    "dragon-drop"
    "google-chrome"
    "visual-studio-code-bin" -}}

{{ $sudo := "sudo " -}}
{{ if eq .chezmoi.username "root" -}}
{{  $sudo = "" -}}
{{ end -}}

#!/bin/sh

set -e # Exit on error

printf '\nUpdating pacman packages. Root privileges needed.\n'
{{ $sudo }} pacman -Syu --needed {{ $pacman_packages | join " " }}

printf '\nUpdating yay packages. Root privileges needed.\n'
yay --noconfirm -Syu {{ $yay_packages | join " " }}

printf '\n Packages are up to date!\n'

{{ else -}}

printf '\nPackage installation is not implemented yet on `' {{ .chemoi.osRelease.id }} '`.\n'
printf 'You can add it in `run_onchange_install-packages.sh`.\n'

{{ end -}}
