{{ if eq .chezmoi.osRelease.id "manjaro" -}}

{{ $packages := list
    "arandr"
    "bat"
    "discord"
    "flameshot"
    "gdu"
    "git-lfs"
    "i3-wm"
    "i3lock"
    "i3status-manjaro"
    "rofi"
    "tree"
    "vim"
    "visual-studio-code-bin"
    "zsh" -}}

{{ $sudo := "sudo " -}}
{{ if eq .chezmoi.username "root" -}}
{{  $sudo = "" -}}
{{ end -}}

#!/bin/sh
echo 'Updating pacman packages. Password need.'
{{ $sudo }} pacman -Syu
{{ $sudo }} pacman -S --needed {{ $packages | join " " }}

{{ else -}}

echo 'Package installation is not implemented yet on `' {{ .chemoi.osRelease.id }} '`.'
echo 'You can add it in `run_onchange_install-packages.sh`.'

{{ end -}}
