{{ if eq .chezmoi.osRelease.id "manjaro" -}}

{{ $pacman_packages := list
    "arandr"
    "bat"
    "discord"
    "flameshot"
    "gdu"
    "git-lfs"
    "i3-wm"
    "i3lock"
    "i3status-manjaro"
    "rofi"
    "tree"
    "vim"
    "yay"
    "zsh" -}}

{{ $yay_packages := list
    "google-chrome"
    "visual-studio-code-bin" -}}

{{ $sudo := "sudo " -}}
{{ if eq .chezmoi.username "root" -}}
{{  $sudo = "" -}}
{{ end -}}

#!/bin/sh

set -e # Exit on error

echo 'Updating pacman packages. Password need.'
{{ $sudo }} pacman -Syu --needed {{ $pacman_packages | join " " }}

echo 'Updating yay packages.'
yay -Syu {{ $yay_packages | join " " }}

echo '\n Packages are up to date!'

{{ else -}}

echo 'Package installation is not implemented yet on `' {{ .chemoi.osRelease.id }} '`.'
echo 'You can add it in `run_onchange_install-packages.sh`.'

{{ end -}}
